<%
var _t = (typeof t === 'function' ? t : function (k, o) { return (o && o.defaultValue != null) ? o.defaultValue : k; });
var _homeUrl = locals.navHomeUrl || '/hms';
var _homeLabel = locals.navHomeLabel || _t('nav_sidebar.dashboard', { ns: 'legacy', defaultValue: 'Dashboard' });
var _staffPortals = locals.staffPortals || [];
var _pathBase = (typeof locals.hmsPath !== 'undefined' && locals.hmsPath) ? String(locals.hmsPath).split('?')[0] : '';
var _showStaffPortals = _staffPortals.length >= 1;
%>
<% if (!sbHidden('sb.home') && !_showStaffPortals) { %>
<a href="<%= _homeUrl %>" class="sb-item" data-label="<%= _t('nav_sidebar.home', { ns: 'legacy', defaultValue: 'Home' }) %>">
  <i class="fa fa-home sb-item-icon"></i>
  <span class="sb-item-label"><%= _homeLabel %></span>
</a>
<% } %>

<% if (_showStaffPortals) { %>
<div class="sb-section"><%= _t('nav_sidebar.my_portals', { ns: 'legacy', defaultValue: 'My portals' }) %></div>
<% _staffPortals.forEach(function (sp) {
  var _active = _pathBase && (sp.url === _pathBase || (_pathBase.indexOf(sp.url + '/') === 0));
%>
<a href="<%= sp.url %>" class="sb-item<%= _active ? ' active' : '' %>" data-label="<%= sp.label %>">
  <i class="fa <%= sp.icon %> sb-item-icon"<% if (sp.color) { %> style="color:<%= sp.color %>;"<% } %>></i>
  <span class="sb-item-label"><%= sp.label %><% if (sp.is_home) { %> <span class="badge badge-light border ml-1" style="font-size:.6rem;"><%= _t('nav_sidebar.home_badge', { ns: 'legacy', defaultValue: 'Home' }) %></span><% } %></span>
</a>
<% }); %>
<% } %>

<%- include('hms-nav-sidebar-topnav') %>
