<%- include('hms-perm-helpers') %>
<%
if (typeof _t !== 'function') {
  var _t = (typeof t === 'function' ? t : function (k, o) { return (o && o.defaultValue != null) ? o.defaultValue : k; });
}
var _top = function (key, fallback, opts) {
  return _t(key, Object.assign({ ns: 'ops', defaultValue: fallback }, opts || {}));
};
var _phaTitle = locals.phaOdooTitle || _top('pharmacy_odoo.default_title', 'Products');
var _phaUser = locals.userDisplayName || (locals.user && locals.user.name) || _top('pharmacy_odoo.user_fallback', 'User');
%>
<link rel="stylesheet" href="/css/pharmacy-tokens.css?v=2">
<link rel="stylesheet" href="/css/pharmacy-odoo.css?v=6">
<link rel="stylesheet" href="/css/pharmacy-ui-revamp.css?v=11">
<link rel="stylesheet" href="/css/pharmacy-sidebar.css?v=5">
<link rel="stylesheet" href="/css/pharmacy-prescriptions.css?v=2">
<div class="hms-dept-app pharmacy-odoo-app pharmacy-odoo-app--sidebar" id="pharmOdooApp">
  <header class="o_web_navbar o_web_navbar--slim">
    <% if (canHospitalDashboard()) { %>
    <a href="/dashboard" class="o_nav_home" title="<%= _top('dept_nav.apps_title', 'ZAIZENS apps') %>"><i class="fa fa-th" aria-hidden="true"></i></a>
    <% } %>
    <%- include('hms-dept-nav-right', { deptNavUser: _phaUser }) %>
  </header>
  <div class="pha-layout">
    <%- include('pharmacy-rail') %>
    <main class="o_action_manager pha-main">
      <% if (typeof flash === 'string' && flash) { %><div class="o_flash o_flash_success"><%= flash %></div><% } %>
      <% if (typeof error === 'string' && error) { %><div class="o_flash o_flash_error"><%= error %></div><% } %>
      <% if (typeof deptPageTitle !== 'undefined' && deptPageTitle) { %>
      <div class="o_control_panel">
        <div class="o_cp_title"><h1><%= deptPageTitle %></h1></div>
        <% if (typeof deptPageActions !== 'undefined' && deptPageActions) { %><div class="o_cp_actions"><%- deptPageActions %></div><% } %>
      </div>
      <% } %>
