<%- include('partials/header') %>
<%
var _labTitle = (typeof t === 'function' ? t('laboratory_odoo.default_title', { ns: 'ops', defaultValue: 'Laboratory registry' }) : 'Laboratory registry');
var _labValidate = (typeof t === 'function' ? t('laboratory_odoo.validate_code', { ns: 'ops', defaultValue: 'Validate code' }) : 'Validate code');
%>
<%- include('partials/laboratory-odoo-start', {
  labOdooMenu: 'registry',
  labOdooTitle: _labTitle,
  labOdooActions: '<a href="/laboratory/validate" class="o_btn_primary"><i class="fa fa-qrcode"></i> ' + _labValidate + '</a>'
}) %>

<%- include('partials/react-page-mount', {
  reactPage: 'laboratory',
  reactLoadingLabel: (typeof t === 'function' ? t('loading_pages.laboratory', { ns: 'common' }) : 'Loading…')
}) %>
<script src="/js/hms-diagnostic-report-print.js?v=2"></script>
<script src="/js/hms-diagnostic-report-handover.js?v=3"></script>

<%- include('partials/laboratory-odoo-end') %>
<%- include('partials/footer') %>
