<%- include('partials/header') %>
<%
var _radTitle = (typeof t === 'function' ? t('radiology_odoo.default_title', { ns: 'ops', defaultValue: 'Radiology requests' }) : 'Radiology requests');
var _radBoard = (typeof t === 'function' ? t('radiology_odoo.board_short', { ns: 'ops', defaultValue: 'Board' }) : 'Board');
var _radTpl = (typeof t === 'function' ? t('radiology_odoo.exam_templates', { ns: 'ops', defaultValue: 'Templates' }) : 'Templates');
var _radNew = (typeof t === 'function' ? t('radiology_odoo.new_request', { ns: 'ops', defaultValue: '+ New request' }) : '+ New request');
%>
<%- include('partials/radiology-odoo-start', {
  radOdooMenu: 'requests',
  radOdooTitle: _radTitle,
  radOdooActions: '<a href="/radiology/workflow" class="o_btn_secondary">' + _radBoard + '</a><a href="/radiology/templates" class="o_btn_secondary">' + _radTpl + '</a><a href="/radiology/validate" class="o_btn_primary">' + _radNew + '</a>'
}) %>

<%- include('partials/react-page-mount', {
  reactPage: 'radiology',
  reactLoadingLabel: (typeof t === 'function' ? t('loading_pages.radiology', { ns: 'common' }) : 'Loading…')
}) %>
<script src="/js/hms-diagnostic-report-print.js?v=3"></script>
<script src="/js/hms-diagnostic-report-handover.js?v=3"></script>

<%- include('partials/radiology-odoo-end') %>
<%- include('partials/footer') %>
